.main{
    display: flex;
    flex-direction: row;
   width: 100vw;
}

.posts{
 width: 70%;
 display: flex;
 flex-wrap: wrap;
 margin-top: 60px;
}
h1{
  margin-right: 34vw;
}
.form{
    margin-top: 7vh;
    width : 30%;
}

.card-main{
    width: 18rem;
    margin-left: 30px;
    margin-bottom: 30px;
}

textarea,button {
    width: 60vh;
    padding: 2vh 0vh 0vh 2vh;
    text-align: center;
    margin-top: 1vh;
}

button{
    margin-bottom: 2vh;
}